body {
  background: olivedrab; }

* {
  border: none;
  padding: 0; }

ul {
  list-style-type: none; }

.cards {
  display: flex;
  max-width: 950px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between; }

.start {
  display: block;
  max-width: 100px;
  margin: auto;
  margin-top: 20%;
  background: black;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white; }

.pairA .flip-card-back {
  background-color: red; }

.pairB .flip-card-back {
  background-color: pink; }

.pairC .flip-card-back {
  background-color: blue; }

.pairD .flip-card-back {
  background-color: yellow; }

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  padding: 15px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */ }

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.rotate .flip-card-inner, .flip-card.correct .flip-card-inner {
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden; }

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #cacaca;
  color: black; }

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg); }
